<div class="container">
  <%= form_tag search_tours_path, method: :get do %>
    <%= text_field_tag :name, params[:name] %>
    <%= select_tag :sort_by_created_at, options_for_select([['Decrease','ASC'],['Increase','DASC']])%>
    <%= submit_tag 'Search' %>
  <%end%>     
  <div class="row">
    <%= render @tours %>
  </div>
</div>
