<tr>
  <td><%= tour.name %></td> 
  <td><%= tour.description %></td>
  <td><%= tour.price %></td>
  <td><%= tour.coupon %></td>
  <td><%= tour.seats %></td>
  <td><%= link_to 'Show Time',  admin_category_tour_path(@category, tour) %></td>
  <td><%= link_to 'Edit', edit_admin_category_tour_path(@category,tour) %></td>
  <td><%= link_to "Delete", admin_category_tour_path(@category, tour), method: :delete,
		data: { confirm: "You sure?" } %></td>
</tr>