<h2><%= @category.name %></h2>
<%= button_to 'Export CSV', export_csv_tours_path %>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price($)</th>
      <th>Coupon(%)</th>
      <th>Seats</th>
    </tr>
  </thead>
    <tbody>
      <%= render @tours %>    
    </tbody>
</table>
</div>
<%= link_to 'Create a new Tour', new_admin_category_tour_path(@category) %> | 
<%= link_to 'Back', admin_categories_path %>
