<%= form_for([tour,review]) do |f| %>
  <%= render 'shared/error_messages', object: review %>
  <%= hidden_field_tag :tour_id, @review.tour_id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new review..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>