<% provide(:title, 'bookingtour') %>

<h1>Booking Tour</h1>
<%= @tour.name%>
<%= @tour_detail.departure_time %>
<%= @tour_detail.return_time %>
<% c = @tour.seats - @tour_detail.booking_tours&.sum{|x| x.quantity}%>
<%= c %>

    <%= form_for([@tour,@booking_tour]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    	<%= f.hidden_field :tour_detail_id, value: @tour_detail.id%>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, min: '1', max: "#{c}" %>
      <%= f.submit "Booking", class: "btn btn-primary" %>
    <% end %>
 