<tr id="category_<%= category.id %>">
  <td><%= category.id %></td>
  <td><%= link_to category.name, admin_category_tours_url(category) %></td>
  <td><%= link_to 'Create a tour', new_admin_category_tour_path(category) %></td>
  <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
  <td><%= link_to "Delete", admin_category_path(category), method: :delete,
      data: { confirm: "You sure?", remote: true} %></td>
</tr>
