<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <div class="container"><h2>Edit Category</h2>
      <%= form_for([:admin, @category]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
