<li id="review-<%= review.id %>">
  <span class="user"><%= link_to review.user.name, review.user %></span>
  <span class="content">
    <%= review.content %>
    <%= image_tag(review.picture_url, alt: 'hi', class:"img-thumbnail") if review.picture_url %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
    <% if current_user?(review.user) %>
        <%= link_to "Delete", tour_review_path(review.tour, review), method: :delete,
                                        data: { confirm: "You sure?" } %>
    <% end %>
    <div class="row">
      <div class="col">
        <% if @reviews_likes.pluck(:likeable_id).include?(review.id) %>
            <%= render "users/unlike_review_form", review: review %>
        <% else %>
            <%= render "users/like_review_form", review: review %>
        <% end %>
      </div>
      <div class="col">Comment</div>
    </div>
  </span>

  <div class="col-md-8">
  <% if review.comments.any? %>
    <h4>Comments (<%= review.comments.count %>)</h4>
    <ol class="comments">
      <%= render review.comments %>
    </ol>
  <% end %>
</div>

<% if logged_in? %>
      <section class="comment_form">
        <%= render 'shared/comment_form', review: review, comment: @comment %>
      </section>
    </aside>
  <% else %>
  <% end %>
</li>
