  <!DOCTYPE html>
<html>
  <head>
    <title>Pr2001Pikachu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/shim" %>
  </head>
  <body>
      <% if current_user&.admin&&request.path.split("/")[1] == "admin" %>
        <%= render 'layouts/theme_admin'%>
      <% else %>
        <%= render "layouts/header"%>
      <% end %> 
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' unless current_user&.admin&&request.path.split("/")[1] == "admin" %>
  </body>
</html>
